@import "./theme.css";
@import "./sections/header.css";
@import "./sections/about-me.css";
@import "./sections/skills.css";
@import "./sections/projects.css";
@import "./sections/footer.css";
@import "./animations.css";

* {
  box-sizing: border-box;
}

:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  /* backgroud pattern */
  background-color: var(--foreground-color);
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    hsla(var(--p-500-code), 0.1) 0,
    hsla(var(--p-500-code), 0.1) 1px,
    var(--foreground-color) 0,
    var(--foreground-color) 50%
  );
}

a {
  text-decoration: none;
}

section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.container {
  margin: 0 auto;
  max-width: 1536px;
  padding: 0 2rem;
}

.section__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.section__title {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
  color: var(--p-950);
  text-transform: capitalize;
}
.section__description {
  text-align: center;
  max-width: 65ch;
  color: var(--n-500);
}
