/*********************************************************************** 
    Media queries
   ***********************************************************************/

/**********************************************************************
    Desktop styles
   **********************************************************************/
@media (max-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}
@media (max-width: 1440px) {
  .container {
    max-width: 1028px;
  }
  /* skill */
  .softSkills_badge {
    position: static !important;
    transform: none !important;
  }

  .softSkills__book_icons {
    display: none;
  }
}
/**********************************************************************
    Tablest & small desktop styles
   **********************************************************************/
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  section {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  /* Header */
  .header__container {
    flex-direction: column;
  }
  .header__column--left,
  .header__column--right {
    flex-direction: column;
    align-items: center;
  }
  .header__content--left {
    align-items: center;

    & p {
      text-align: center;
      max-width: 320px;
    }
  }
}
/**********************************************************************
    small tablet styles
   **********************************************************************/
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  /* About me */
  .aboutMe__section {
    margin: 80px auto;
    & img {
      display: none;
    }
  }

  /* skill */
  .skills__grid_container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-template-rows: repeat(4, minmax(280px, auto));

    & .skill__grid_item {
      padding: 1rem;
      grid-column: span 1 !important;
      grid-row: span 1 !important;
    }
  }
}
/**********************************************************************
    Phone styles
   **********************************************************************/
@media (max-width: 640px) {
  :root {
    font-size: 14px;
    line-height: 16px;
  }

  .container {
    max-width: 475px;
    padding: 0 1rem;
  }

  .section__title {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
  }
  /* Header */
  header {
    margin-top: 20px;
  }

  .header__badge_container {
    flex-direction: column;
  }

  /* About me */
  .aboutMe__container {
    width: 90%;
    padding: 1rem;
    border-radius: 2rem;
  }
  .aboutMe__content_container {
    border-radius: 1.5rem;
  }
}
