header {
  margin-top: 40px;
}

.header__container {
  display: flex;
  gap: 40px;

  & p {
    color: var(--n-600);
  }

  & span {
    color: var(--p-950);
  }
}
.header__title {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 600;
}
.header__column--left {
  display: flex;
  flex: 1;
  gap: 24px;
  align-items: center;

  & .header__content--left {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & .header__badge_container {
    display: flex;
    gap: 6px;
    text-align: center;
  }

  & .badge {
    font-size: var(--caption-font-size);
    line-height: var(--caption-line-height);
    color: var(--p-950);
    padding: 4px 12px;
    background-color: var(--p-50);
    border-radius: 4xp;
    /* line clamp */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
  }
}

.header__column--right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}
.header__img {
  width: 120px;
  height: 120px;
  background-image: url("../../assets/avatar.png");
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, 0.5),
    0 4px 6px -1px hsla(0, 0%, 0%, 0.2), 0 2px 4px -2px hsla(0, 0%, 0%, 0.2),
    inset 0 1px 3px hsla(0, 0%, 0%, 0.1);
}
